/* Content */
#content, #header, #bottom {
	width: 1350px;
	margin : auto;

}

#header{
	margin-top: 15px;	
}

/* TODO CHACHOUX */
#header_menu div{
	margin: 5px;
	width: 170px;
	height:10px;
}

#header_menu img{
	margin-right: 5px;
}

#header_menu a:hover{
	color: #C11A22;
}

#header_menu a{
	font-weight:bold;
	color:#000000;
	font-variant:small-caps;
	font-size:14px;
}

#bottom{
	margin-top: 30px
}

#content-center {
	margin-top:10px;
	min-height:560px;
}
